{% extends 'crmapp/base.html' %}
{% block content %}
<div class="new-post">
    <h1 class="new-post-header">New Post</h1>
    <div new-post-form>
        {% if user.is_authenticated %}
            <form action="{% url 'add_post' %}" method="POST">
                {% csrf_token %}
                <br><br>

                <label for="username">UserName</label>
                <input type="text" name="username">
                <br><br>

                <label for="email">Email</label>
                <input type="email" name="email">
                <br><br>

                <label for="caption">Caption</label>
                <input type="text" name="caption">
                <br><br>

                <label for="content">Content</label>
                <br>
                <textarea name="content">Enter your message here</textarea>
                <br><br>

                <button type="submit">Post</button>
                <button type="reset">Reset</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}