<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% extends 'crmapp/base.html' %}
</head>
<body>

{% block content %}

{% if user.is_authenticated %}
        <h4>You are already logged in...</h4>
{% else %}
<div class="login-form">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <br><br>
        <input type="text" name="username">
        <label for="username">UserName</label>
<br><br><br>
        <input type="password" name="password">
        <label for="password">Password</label>

        <button type="submit">Login</button>

    </form>
</div>
{% endif %}
{% endblock %}

</body>
</html>